@{
    ViewBag.Title = "Home Page";
}

<p>&nbsp;</p>

<form name="form">
	
	<div class="form-group">
		<label class="control-label">Feld 1</label>
		<input type="text" id="foo" name="foo" class="form-control" />
	</div>

	<div class="form-group">
		<label class="control-label">Feld 2</label>
		<input type="text" id="bar" name="bar" class="form-control" />
	</div>

</form>

@section scripts {
	<script>
		(function() {
			var demoHub = $.connection.demoHub;

			var clientId = "@Guid.NewGuid()";

			demoHub.client.focusField = function (sender, fieldName) {
				if (clientId === sender) {
					return;
				}

				var field = $("form[name=form] input[name=" + fieldName + "]");

				field[0].focus();

				field.tooltip("show");
			};

			demoHub.client.blurField = function (sender, fieldName) {
				if (clientId === sender) {
					return;
				}

				$("form[name=form] input[name=" + fieldName + "]").tooltip("hide");
			};

			demoHub.client.updateField = function (sender, fieldName, value) {
				if (clientId === sender) {
					return;
				}

				var field = $("form[name=form] input[name=" + fieldName + "]");

				field.val(value);
			};

			$.connection.hub.start()
				.done(function() {
					var fields = $("form[name=form] input");

					fields.tooltip({
						trigger: "manual",
						placement: "right",
						title: "Wird gerade bearbeitet"
					});

					fields.focus(function () {
						demoHub.server.focusField(clientId, $(this).attr("name"));
					});

					var keyDownDebounce = null;

					fields.keydown(function() {
						if (keyDownDebounce !== null) {
							clearTimeout(keyDownDebounce);
						}

						var field = $(this);

						setTimeout(function () {
							demoHub.server.updateField(clientId, field.attr("name"), field.val());
						}, 210);
					});

					fields.blur(function () {
						var field = $(this);

						demoHub.server.blurField(clientId, field.attr("name"));
					});
				});
		})();
	</script>
}
